outputs/*
data/*
.vscode/*
.env
logs/training.log
src/data/__pycache__/dataset_loader.cpython-311.pyc
src/models/__pycache__/model_factory.cpython-311.pyc
src/training/__pycache__/trainer.cpython-311.pyc
src/utils/__pycache__/logger.cpython-311.pyc
