outputs/*
data/*
.vscode/*
.env
src/utils/__pycache__/*
src/training/__pycache__/*
src/models/__pycache__/*
src/data/__pycache__/*
src/data/__pycache__/*
logs/training.log
src/data/__pycache__/*
src/utils/__pycache__/*
src/models/__pycache__/*
